<template>
  <span :style="{ color, fontSize: size + 'px'  }" v-bind="$attrs">
    <svg
    <% if (svgClass) { %>  class="<%= svgClass %>" <% }   %>
      style="width: 1em;height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;"
      viewBox="0 0 1024 1024"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="<%= svgPath  %>"
        fill="currentColor"      
      />
    </svg>
  </span>
</template>

<script>
  export default {
    name: "<%= name  %>",
    props: {
      color: {type: String, default: "" },
      size: { type: Number, default: 16 },
    },
  };
</script>
